<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Recepies mine</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a href="#" routerLink="/Login">התחבר</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a href="#" routerLink="/Dash">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">פרופיל</a>
                        <a (click)="logout()">התנתק</a>
                    </div>
                </li>
                <li *ngIf="isAuth">
                    <a href="#" routerLink="/Upload">העלאה</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
