<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-not-found 
    [visible]="!food" 
    notFoundMessage="Food Not Found"
    resetLinkText="Back to home page">
</app-not-found>
<div class="container" *ngIf="food">

    <img [src]="getImg()" [alt]="food.name">

    <div class="details">
        <div class="header">
            <div class="name">
                {{food.name}}
            </div>
            <span class="myBtns">
                <button (click)="setFav()" class="favorite {{food.favorite? '': 'not'}}" *ngIf="user.token" ><i class="fa fa-heart"></i></button>
                <button class="btn" *ngIf="user.isAdmin" routerLink="/edit"><i class="fa fa-edit"></i></button>
                <button class="btn" *ngIf="user.isAdmin" routerLink="/delete/{{food.id}}"><i class="fa fa-trash"></i></button>
            </span>
        </div>
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div>
        <div class="tags">
            <app-tags [foodPageTags]="food.tags"></app-tags>
        </div>
        <div class="cook-time">
            <span>
                 זמן הכנה: {{food.cookTime}} דקות🕒
            </span>
        </div>
        <div class="link" *ngIf="food.link">
            <a href="{{food.link}}" target="_blank">לחץ כאן לצפייה בסרטון</a>
        </div>
        <div class="ingredients">
            <h1>מצרכים:</h1>
            <div class="items">
                <span *ngFor="let ingredient of food.ingredients">        
                    <li *ngIf="food.ingredients.indexOf(ingredient) % 2 == 0">
                       <div class="even">
                            {{ingredient}}
                       </div>
                    </li> 
                    <li *ngIf="food.ingredients.indexOf(ingredient) % 2 != 0">
                        <div class="odd">
                            {{ingredient}}
                       </div>
                    </li> 
                </span>
           </div> 
        </div>
        <div class="ingredients" *ngIf="food.doughIng?.length">
            <h1>לבצק:</h1>
            <div class="items">
                <span *ngFor="let ingredient of food.doughIng">        
                    <li *ngIf="checkIfEven(ingredient)">
                       <div class="even" *ngIf="checkIfEven(ingredient)">
                            {{ingredient}}
                       </div>
                    </li> 
                    <li *ngIf="!checkIfEven(ingredient)">
                        <div class="odd">
                            {{ingredient}}
                       </div>
                    </li> 
                </span>
           </div> 
        </div>
        <div class="ingredients" *ngIf="food.sauceIng?.length">
            <h1>לרוטב:</h1>
            <div class="items">
                <span *ngFor="let ingredient of food.sauceIng">        
                    <li *ngIf="checkIfEvenS(ingredient)">
                       <div class="even">
                            {{ingredient}}
                       </div>
                    </li> 
                    <li *ngIf="!checkIfEvenS(ingredient)">
                        <div class="odd">
                            {{ingredient}}
                       </div>
                    </li> 
                </span>
           </div> 
        </div>
        <div class="ingredients" *ngIf="food.sauceIng?.length">
            <h1>למילוי:</h1>
            <div class="items">
                <span *ngFor="let ingredient of food.stuffingIng">        
                    <li *ngIf="checkIfEvenS(ingredient)">
                       <div class="even">
                            {{ingredient}}
                       </div>
                    </li> 
                    <li *ngIf="!checkIfEvenS(ingredient)">
                        <div class="odd">
                            {{ingredient}}
                       </div>
                    </li> 
                </span>
           </div> 
        </div>
        <div class="instruction">
            <h1>הוראות הכנה:</h1>
            <div class="items">
                <span *ngFor="let instruction of food.instructions">
                    <li *ngIf="food.instructions.indexOf(instruction) % 2 == 0">
                        <div class="even">
                            <span class="number">
                                {{food.instructions.indexOf(instruction) +1}}.
                           </span>
                           <span class="text">
                               {{instruction}}
                           </span>
                        </div>
                     </li> 
                     <li *ngIf="food.instructions.indexOf(instruction) % 2 != 0">
                         <div class="odd">
                            <span class="number">
                                {{food.instructions.indexOf(instruction) +1}}.
                           </span>
                           <span class="text">
                               {{instruction}}
                           </span>
                        </div>
                     </li> 
                </span>
            </div>
        </div>
        <!--
        <div class="buttons">
            <button class="btn" routerLink="/Upload"><i class="fa fa-edit"></i></button>
            <button class="btn"><i class="fa fa-trash"></i></button>
        </div>-->
    </div>
</div>