img{
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    height: 35rem;
    margin: 1rem; 
    top: 0;
    left: 0;
}

.buttons{
    display: flex;
    justify-content: right;
    align-items: right;
    position:sticky;  
}

button{
    background-color: rgb(130, 190, 250); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 10rem;
    margin-left: 0.2rem;
}

button:hover{
    background-color: RoyalBlue;
}

.container{
    display:flex;

    flex-wrap: wrap;
    margin: 3rem;
}

.container > *{
    min-width: 25rem;
    max-width: 40rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}    

.details .header{    
    display:inline;
    word-wrap:break-word; 
    width:inherit;  
    justify-content: right;
    align-items: right;
    position:sticky;  
}

.details .name{
    font-size: 4rem;
    font-weight: bold;
    justify-content: right;
    align-items: right;
    position:sticky; 
    text-align: right; 
    direction: rtl;
}

.details .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    justify-content: right;
    align-items: right;
    position:sticky;
}

.details .origins > span{
    padding: .3rem .7rem .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .5rem .2rem .5rem;
    border-radius: 2rem;
    background-color: aliceblue;
}

.details .cook-time{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    position:sticky;
    margin-top: 1rem;  
}

.details .cook-time span{
    padding: .3rem .7rem .5rem;
    border-radius: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: aliceblue;
    text-align: right;
}

.details .link{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    position:sticky;
    margin-top: 1rem;  
}

.details .link a{
    padding: .6rem .8rem .6rem .8rem;
    border-radius: 10rem;
    font-size: 1.2rem;

    background-color: aliceblue;
    text-align: right;
    text-decoration: underline;
    color: blue;
}

.details .ingredients{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: right;
    align-items: right;
    direction: rtl;
    list-style: none;
}

.details .ingredients .items li{
    direction: rtl;
    position:initial;
    width:100%;
    font-weight: 600;
    /*background-color: azure;*/
    text-align: right
}

li .even { 
    background-color: #f0f0f0; 
    padding: .4rem .8rem .4rem .6rem;
    border-radius: 500px;
    margin: 4px 0;
}

li .odd { 
    background-color: #ea3c3c60; 
    padding: .4rem .8rem .4rem .6rem;
    border-radius: 500px;
    margin: 4px 0;
}

.details .instruction{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: right;
    align-items: right;
    direction: rtl;
    list-style: none;
}

.details .instruction .items li span{
    display: inline-block;
    direction: rtl;
    flex-wrap: wrap;
    width:100%;
    font-weight: 600;
    position: sticky;
    text-align: right
}

span .even { 
    background-color: #f0f0f0; 
    padding: .4rem .8rem .4rem .6rem;
    border-radius: 30px;
    margin: 4px 0;
}

span .odd { 
    background-color: #ea3c3c60; 
    padding: .4rem .8rem .4rem .6rem;
    border-radius: 30px;
    margin: 4px 0;
}

.favorite{
    color: #e72929;
    background-color: rgb(198, 243, 243);
}

.favorite.not{
    color: grey;
    background-color: lightgray;
}

h1 {
    color: #7d7d7d;
    display: flex;
    justify-content: right;
    align-items: right;
    position:sticky;
    width: 100%;
    font-size: 1.7rem;
  }
