<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Recepies mine</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/Login">Login</a>
                </li>
                <li class="menu-container">
                    <a href="#" routerLink="/Dash">Ben</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a href="#" routerLink="/Upload">Upload</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
