<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="details">
      <button class="btn" routerLink="{{this.returnUrl}}"><i class="fa fa-reply"></i></button>
      <app-title title=":העלאה"></app-title>
      <form [formGroup]="uploadForm" (ngSubmit)="submit()">
        <text-input
            [control]="fc['name']"
            [showErrorsWhen]="isSubmitted"
            label="שם">
        </text-input>
  
        <text-input
            [control]="fc['ingredients']"
            [showErrorsWhen]="isSubmitted"
            label="מצרכים">
        </text-input> 
  
        <text-input
            [control]="fc['doughIng']"
            [showErrorsWhen]="isSubmitted"
            label="מצרכים לבצק (אופציונלי)">
        </text-input>

        <text-input
            [control]="fc['sauceIng']"
            [showErrorsWhen]="isSubmitted"
            label="מצרכים לרוטב (אופציונלי)">
        </text-input>

        <text-input
            [control]="fc['tags']"
            [showErrorsWhen]="isSubmitted"
            label="תגיות">
        </text-input> 
  
        <text-input
            [control]="fc['instructions']"
            [showErrorsWhen]="isSubmitted"
            label="הוראות הכנה">
        </text-input> 

        <!--<text-input
            [control]="fc['imageUrl']"
            [showErrorsWhen]="isSubmitted"
            label="תמונה">
        </text-input>-->
        <upload-img   
            (change)="onFileChange($event)"      
            [control]="fc['imageUrl']"
            [showErrorsWhen]="isSubmitted"
            label="תמונה">
        </upload-img> 
<!--
        <input type="file" (change)="onFileChange($event)" />
-->
        <text-input
            [control]="fc['origins']"
            [showErrorsWhen]="isSubmitted"
            label="מקורות">
        </text-input> 

        <text-input
            [control]="fc['cookTime']"
            [showErrorsWhen]="isSubmitted"
            label="זמן הכנה">
        </text-input> 

        <text-input
            [control]="fc['link']"
            [showErrorsWhen]="isSubmitted"
            label="קישור (אופציונלי)">
        </text-input> 
  
        <default-button text="העלאה"></default-button>
        <div class="gap">
            &nbsp;
        </div>
      </form>
    </div>
</div>